@model IEnumerable<IdentityRole>
@inject IAuthorizationService authorizationService;
@{
    ViewBag.Title = "角色列表";
}

<h1>所有角色</h1>


@if (Model.Any())
{
    <a class="btn btn-primary mb-3" style="width:auto" asp-action="CreateRole" asp-controller="Admin">添加新角色</a>
    foreach (var item in Model)
    {
        <form method="post" asp-action="DeleteRole" asp-controller="Admin" asp-route-id="@item.Id">
            <div class="card mb-3">
                <div class="card-header">角色ID：@item.Id</div>
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                </div>
                <div class="card-footer">
                    @*将用户和策略名称作为参数传给IAuthorizationService的AuthorizeAsync方法，验证成功则为True*@
                    @if ((await authorizationService.AuthorizeAsync(User, "EditRolePolicy")).Succeeded)
                    {
                        <a class="btn btn-info" asp-action="EditRole" asp-controller="Admin" asp-route-id="@item.Id">编辑</a>
                    }


                    <span id="confirmDeleteSpan_@item.Id" style="display:none">
                        <span>您确定要删除？</span>
                        <button type="submit" class="btn btn-danger">是</button>
                        <a href="#" class="btn btn-success" onclick="confirmDelete('@item.Id', false)">否</a>
                    </span>

                    <span id="deleteSpan_@item.Id">
                        <a href="#" class="btn btn-danger" onclick="confirmDelete('@item.Id', true)">删除</a>
                    </span>
                </div>
            </div>
        </form>
    }
}
else
{
    <div class="card-header">尚未创捷任何角色</div>
    <div class="card-body">
        <h5 class="card-title">点击下面的按钮创建角色</h5>
        <a class="btn btn-primary" style="width:auto" asp-action="CreateRole" asp-controller="Admin">创建角色</a>
    </div>
}

@section Scripts{
    <script src="~/js/CustormScript.js" asp-append-version="true"></script>
}
